.ipynb_checkpoints/
.DS_Store
.vscode/settings.json
tools/__pycache__/finviz_extract.cpython-37.pyc
tools/extract/__pycache__/finviz_extract.cpython-37.pyc
tools/indicators/__pycache__/run_indicators.cpython-37.pyc
tools/__pycache__/chunks.cpython-37.pyc
tools/signals/__pycache__/create_signals.cpython-37.pyc
tools/extract/__pycache__/price_extract.cpython-37.pyc
tools/indicators/__pycache__/indicators.cpython-37.pyc
tools/__pycache__/run_all.cpython-37.pyc
output/all_indicators.feather
docs/prices.csv
output/trades.csv
docs/eps.csv
tools/extract/__pycache__/pe_ratio.cpython-37.pyc
docs/eps_pe_ratio.csv
docs/pe_ratio.csv
tools/extract/__pycache__/market_cap.cpython-37.pyc
docs/pe_and_prices_market_cap.csv
docs/pe_prices.csv
tools/signals/__pycache__/track_record.cpython-37.pyc
notebooks/config.py
notebooks/__pycache__/config.cpython-37.pyc
tools/extract/__pycache__/zacks_extract.cpython-37.pyc
docs/book_value_ttm.csv
docs/eps_ttm.csv
docs/price_to_book_value.csv
notebooks/test.csv
tools/trading/credentials.py
tools/trading/__pycache__/account_info.cpython-37.pyc
tools/trading/__pycache__/connect.cpython-37.pyc
tools/trading/__pycache__/credentials.cpython-37.pyc
tools/trading/__pycache__/orders.cpython-37.pyc
tools/trading/__pycache__/quotes.cpython-37.pyc
tools/trading/__pycache__/td_trading.cpython-37.pyc
tools/trading/access_token.txt
notebooks/ThinkorSwin API.ipynb
tools/trading/__pycache__/transactions.cpython-37.pyc
notebooks/index_analysis.csv
notebooks/pe_prices_market_cap_analysis.csv
